/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */



#focusboard-messages{
	padding: 60px 0;
}
#focusboard-messages button[type="submit"]{
	line-height: 1;
	padding: 8px 16px; 
	height: auto;
	font-size: 100%;
}
#focusboard-messages .focusboard-message{
	margin-bottom: 8rem;
}
#focusboard-messages .focusboard-message:last-of-type{
	margin-bottom: 0px;
}
#focusboard-messages .focusboard-message h2.article-title{
	margin: 0 0 10px;
	padding: 0;
	font-size: 32px
}

#focusboard-messages .focusboard-message .post-terms{
	display: flex;
	align-items: center;
	margin-bottom: 5px;
}
#focusboard-messages .focusboard-message .post-terms .post-term{
	display: block;
	background-color: #333;
	line-height: 20px;
	font-size: 12px;
	border-radius: 8px; 
	color: #fff;
	padding:0 8px;
}
#focusboard-messages .focusboard-message .article-content{
	margin: 0 0 2rem;
	padding: 0;
}
#focusboard-messages .focusboard-pagination{
	display: flex;
	align-items: center;
}
#focusboard-messages .focusboard-pagination .page-numbers{
	display: block;
	padding: 0 8px;
	background-color: #333;
	color: #fff; 
	line-height: 40px;
	min-width: 40px;
	text-align: center;
	margin-right: 8px;
}

#focusboard-messages .focusboard-pagination .page-numbers.current{
	opacity: 0.75;
}
#focusboard-messages #comments{ margin-top:0; }
#focusboard-messages #comments h2{ 
	font-size:32px; 
	text-align:left;
	margin: 0 0 10px;
}
#focusboard-messages #comment-wrap{ padding-top:0; }
#focusboard-messages #comments .comment{ margin:0 0 2rem; }
#focusboard-messages #comments .comment article.comment-body{ margin:0 0 2rem; }
#focusboard-messages #comments .comment:last-of-type{ margin:0; }

.comment-meta{ 
	min-height: unset!important; 
}
.comment-reply-link{ 
	display: inline-block!important; 
	vertical-align: middle!important; 
}
ol.commentlist{
	margin-left: 8rem;
}
ol.commentlist li.comment{
	margin: 0 0 4rem 0!important;
}
ol.commentlist li.comment:last-of-type{
	margin: 0!important;
}

ol.commentlist li.comment .children { margin-left:4rem; }

.focusboard-new-message {
	margin: 0 0 6rem;
    border: 1px solid #ced4da;
    padding: 3rem;
    border-radius: 1.25rem;
}
.focusboard-new-message-title {
	margin: 0 0 3rem;
}
.focusboard-new-message input,
.focusboard-new-message textarea {
	font-size: 1.6rem;
	padding: 1.5rem 1.8rem;
}
.focusboard-new-message textarea {
    height: 12rem;
}

.focusboard-new-message-loading{ display:none; }

.focusboard-success-screen{
	display:none;
}
.focusboard-success-screen-box{
	display: flex;
	align-items: center;
}
.focusboard-success-screen .focusboard-success-screen-icon{ 
	width:20px; margin-right:10px;  
}
.focusboard-success-screen .focusboard-success-screen-icon svg{ display:block }
.focusboard-success-screen .focusboard-success-screen-icon svg path{ fill: darkgreen }


#focusboard-messages #respond h3{
	margin:0;
}

#focusboard-messages .navigation .alignleft,
#focusboard-messages .navigation .alignright{
	margin:0;
}

